@import "tailwindcss";

/* body {
    background-image: linear-gradient(180deg, #F9F9F9 0%, #1189dd 100%);
    background-repeat: no-repeat;
} */


#frontend p{
    margin: 0.5rem;
    color: black;
    font-weight: bold;
    border-radius: 2.5rem;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgb(191, 191, 191);
}

#topDiv {
    background-image: linear-gradient(320deg, #F9F9F9 40%, #86b9dd 100%);
}